**/__pycache__/
env
.env
Clean_data/1min/*.csv
Clean_data/newData/*.csv
Clean_data/RAW_daily_data_tradingview/*.csv

Clean_data/1min/*.parquet
Clean_data/newData/*.parquet
Clean_data/RAW_daily_data_tradingview/*.parquet

Clean_data/df_columns_exists.json
Clean_data/uniqueTime_*.csv

fast_cache/*.csv
fast_cache/*.parquet

*.ipynb
test.py
Tracking.csv
indicator_process/*.csv
indicator_process/*.parquet
indicator_process/fast_cache/_latest_file.csv
indicator_process/fast_cache/*.parquet

fastCache_file_tracking.csv
stock_column_file_tracking.csv


functions_duckdb/indicator_files/*.parquet
fastCache_duckdb.*
indicator_process_duckdb/*
fastCache_duckdb/*

*/*.duckdb 
*.duckdb
*/*.sqlite
*.sqlite

database_duckdb/*

w_db_assignments.json
*.csv

Clean_data/1min copy/*
Clean_data/RAW_daily_data_tradingview copy/*