**/__pycache__/
env
.env
Clean_data/1min/*.csv
Clean_data/newData/*.csv
Clean_data/RAW_daily_data_tradingview/*.csv
Clean_data/df_columns_exists.json
Clean_data/uniqueTime_*.csv
*.ipynb
test.py
test1.py
Tracking.csv
indicator_process/*.csv
indicator_process/*.parquet
indicator_process/fast_cache/_latest_file.csv
indicator_process/fast_cache/*.parquet
fastCache/*.csv
fastCache/*.parquet

indicator_list.txt
indicator_functions_list.txt
stock_column_file_tracking.csv
fastCache_file_tracking.csv

users_41.csv
w_data_1.csv
w_data_2.csv
w_data_3.csv
w_data.csv
output.txt

functions_duckdb/indicator_files/*.parquet